<header class="site-header">

  <ul id="menu" class="in">
      <li data-menuanchor="hi"><a>Chao Yan</a></li>
      <li data-menuanchor="portfolio"><a href="/">portfolio</a></li>
      <li data-menuanchor="blog"><a href="/blog">blog</a></li>
  <!--     <li data-menuanchor="photography"><a href="#photography">photography</a></li> -->
      <li data-menuanchor="contact"><a href="/#contact">links</a></li>
      <div class="paper-split">
          <div class="paper-box"></div>
      </div>
  </ul>

</header>
